<h1>Genres</h1>

<% if @genres.any? %>
    <ul>
        <% @genres.each do |genre| %>
            <li>
                <%= link_to genre.name, genre_path(genre) %> | <%= link_to 'Edit', edit_genre_path(genre) %>
            </li>
        <% end %>
    </ul>
<% else %>
  <p>There are no genres.</p>
<% end %>