<h1>Director <%= @director.name %> films</h1>

<% if @films.any? %>
    <ul>
        <% @films.each do |film| %>
            <li>
                <%= link_to film.title, film_path(film) %>
            </li>
        <% end %>
    </ul>
<% else %>
  <p>There are no films.</p>
<% end %>