<h1>Rails Final Project</h1>
<h2>Film Catalog</h2>

<ul style="list-style-type: none;">
    <h3>Genre film</h3>
    <li><a href="/genres">All genres</a></li>
    <li><a href="/genres/new">Create genre</a></li>
    <li><a href="/genres/:id/update">Update genre</a></li>
    <li>
        <hr>
    </li>
    <h3>Director</h3>
    <li><a href="/directors">All directors</a></li>
    <li><a href="/directors/new">Create director</a></li>
    <li><a href="/directors/:id/update">Update director</a></li>
    <li>
        <hr>
    </li>
    <h3>Film</h3>
    <li><a href="/films">All films</a></li>
    <li><a href="/films/new">Create film</a></li>
    <li><a href="/films/:id/update">Update film</a></li>
</ul>